/* Documentation says to use "@use" but it is not working */
/* ========== VARIABLES ========== */
/* Fonts */
/* Dark Green with Accent Colors */
/* offset-x | offset-y | blur-radius | spread-radius | color */
/* ========== MIXINS ========== */
/* ========== SIMPLE RESET ========== */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

/* ========== BASE REM & FONTS SIZES ========== */
html {
  font-size: 50%; }
  @media screen and (min-width: 768px) {
    html {
      font-size: 56.25%; } }
  @media screen and (min-width: 1028px) {
    html {
      font-size: 62.5%; } }

body {
  font-size: 1.6rem;
  font-family: "Nunito", sans-serif;
  color: #3b3a3a; }

body {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

section {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center; }

.section-container {
  height: 100%;
  width: 100%; }
.section-header {
  font-family: "Cormorant Garamond", serif;
  font-weight: 300;
  font-size: 6rem;
  color: #1b4332; }

@media screen and (min-width: 768px) {
  .section-container {
    box-shadow: 0 0.3rem 4rem 0 rgba(0, 0, 0, 0.35);
    width: 90%;
    margin: 5rem 5rem 0 5rem; }

  #contact .section-container {
    margin-bottom: 5rem; } }
@media screen and (min-width: 1028px) {
  body {
    height: 200vh;
    width: 200vw;
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(2, 1fr);
    overflow: hidden; }

  section {
    height: 100%;
    max-height: 100vh; }

  .section-container {
    height: 80%;
    width: 80%;
    max-height: 80%;
    max-width: 80%;
    box-shadow: 0 0.5rem 5rem 0 rgba(0, 0, 0, 0.35);
    margin: 0;
    display: grid;
    grid-template-rows: 1fr 7fr; }
  .section-header {
    font-size: 6.4rem; }

  #home {
    grid-row: 1 / 2;
    grid-column: 1 / 2; }

  #about {
    grid-row: 1 / 2;
    grid-column: 2 / 3; }

  #projects {
    grid-row: 2 / 3;
    grid-column: 2 / 3; }

  #contact {
    grid-row: 2 / 3;
    grid-column: 1 / 2; } }
nav ul {
  display: flex; }
nav li {
  list-style: none; }
  nav li a {
    text-decoration: none; }

.mobile-nav {
  position: fixed; }
  @media screen and (min-width: 1028px) {
    .mobile-nav {
      display: none; } }
  .mobile-nav-btn {
    position: fixed;
    height: 6.5rem;
    width: 6.5rem;
    top: 3rem;
    right: 3rem;
    border-radius: 50%;
    background-color: #fff;
    box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.1);
    z-index: 200;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    @media screen and (min-width: 768px) {
      .mobile-nav-btn {
        top: 4rem;
        right: 4rem; } }
    .mobile-nav-btn-icon {
      position: absolute;
      width: 3.8rem;
      height: .5rem;
      background-color: #3b3a3a;
      border-radius: .3rem;
      transition: all 0.4s; }
      .mobile-nav-btn-icon:first-child {
        top: 2rem; }
      .mobile-nav-btn-icon:last-child {
        top: 4.0rem; }
      .mobile-nav-btn-icon:first-child.open {
        top: 3rem;
        transform: rotate(135deg); }
      .mobile-nav-btn-icon:nth-child(2).open {
        background-color: transparent; }
      .mobile-nav-btn-icon:last-child.open {
        top: 3rem;
        transform: rotate(-135deg); }
  .mobile-nav-background {
    position: fixed;
    height: 5rem;
    width: 5rem;
    top: 4rem;
    right: 4rem;
    border-radius: 50%;
    background: radial-gradient(#fd8972, #ab65f1);
    z-index: 100;
    transition: transform 0.8s cubic-bezier(0.68, -0.6, 0.32, 1.6); }
    @media screen and (min-width: 768px) {
      .mobile-nav-background {
        top: 4.7rem;
        right: 4.7rem; } }
    .mobile-nav-background.open {
      transform: scale(60); }
  .mobile-nav-list {
    font-size: 2.8rem;
    width: 100%;
    height: 0;
    opacity: 0;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 150;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: all 0.4s cubic-bezier(0.68, -0.6, 0.32, 1.6) 0.2s; }
    .mobile-nav-list.open {
      height: 100%;
      opacity: 1; }
  .mobile-nav-item {
    margin: 1.8rem;
    color: #eee; }
    @media screen and (min-width: 768px) {
      .mobile-nav-item {
        margin: 2rem; } }
  .mobile-nav-link {
    color: #ffffff; }

.desktop-nav {
  display: none;
  padding: 0 5rem; }
  @media screen and (min-width: 1028px) {
    .desktop-nav {
      display: flex;
      justify-content: flex-end;
      align-items: flex-end; } }
  .desktop-nav .nav-item {
    position: relative; }
  .desktop-nav .nav-link:link, .desktop-nav .nav-link:visited {
    color: #1b4332;
    margin: 0 1rem; }
  .desktop-nav .nav-link::before {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 2px;
    background-color: #1b4332;
    transition: transform 200ms ease-in-out;
    transform: scaleX(0); }
  .desktop-nav .nav-link:hover::before, .desktop-nav .nav-link:active::before {
    transform: scaleX(1); }

.nav-arrow {
  display: none;
  position: absolute;
  height: 5rem;
  width: 5rem; }
  @media screen and (min-width: 1028px) {
    .nav-arrow {
      display: flex; } }
  .nav-arrow-right {
    position: absolute;
    top: 50%;
    right: 2rem; }
  .nav-arrow-left {
    position: absolute;
    top: 50%;
    left: 2rem; }
  .nav-arrow-down {
    bottom: 2rem;
    left: 50%; }
  .nav-arrow-up {
    top: 2rem;
    left: 50%; }

#home {
  height: 100vh; }
  #home .section-content-container {
    position: relative;
    overflow: hidden;
    height: 90%;
    border: 1px solid #1b4332;
    margin: 4rem;
    z-index: -1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    @media screen and (min-width: 1028px) {
      #home .section-content-container {
        margin: 5rem;
        margin-top: 1rem; } }
  #home .section-header {
    font-size: 6rem; }
  #home .home-bg-item {
    position: absolute;
    height: 2rem;
    width: 2rem;
    z-index: -1; }
  #home .circle {
    transform-origin: 40% 40%; }
  #home .purple {
    fill: #e6d4ec; }
  #home .red {
    fill: #fd8972; }
  #home .blue {
    fill: #9deaf6; }
  #home .home-bg-item {
    animation: rotate 6s linear infinite; }
  #home #home-bg-item-1 {
    animation-delay: 200ms; }
  #home #home-bg-item-2 {
    animation-delay: 400ms; }
  #home #home-bg-item-3 {
    animation-delay: 600ms; }
  #home #home-bg-item-4 {
    animation-delay: 800ms; }
  #home #home-bg-item-5 {
    animation-delay: 1000ms; }
  #home #home-bg-item-6 {
    animation-delay: 1200ms; }
  #home #home-bg-item-7 {
    animation-delay: 1400ms; }
  #home #home-bg-item-8 {
    animation-delay: 1600ms; }
  #home #home-bg-item-9 {
    animation-delay: 1800ms; }
  #home #home-bg-item-10 {
    animation-delay: 2000ms; }
  #home #home-bg-item-11 {
    animation-delay: 2200ms; }
  #home #home-bg-item-12 {
    animation-delay: 2400ms; }
  #home #home-bg-item-1 {
    top: 20%;
    left: 54%; }
  #home #home-bg-item-2 {
    top: 78%;
    left: 14%; }
  #home #home-bg-item-3 {
    top: 20%;
    left: 83%; }
  #home #home-bg-item-4 {
    top: 89%;
    left: 22%; }
  #home #home-bg-item-5 {
    top: 38%;
    left: 92%; }
  #home #home-bg-item-6 {
    top: 79%;
    left: 39%; }
  #home #home-bg-item-7 {
    top: 46%;
    left: 17%; }
  #home #home-bg-item-8 {
    top: 61%;
    left: 53%; }
  #home #home-bg-item-9 {
    bottom: 22%;
    left: 89%; }
  #home #home-bg-item-10 {
    bottom: 46%;
    left: 74%; }
  #home #home-bg-item-11 {
    top: 3%;
    left: 77%; }
  #home #home-bg-item-12 {
    top: 6%;
    left: 9%; }
  #home #home-bg-item-13 {
    top: 94%;
    left: 60%; }
  #home #home-bg-item-14 {
    bottom: 95%;
    left: 43%; }
  #home #home-bg-item-15 {
    bottom: 72%;
    left: 45%; }
  #home #home-bg-item-16 {
    top: 40%;
    left: 38%; }
  #home #home-bg-item-17 {
    top: 17%;
    left: 5%; }
  #home #home-bg-item-18 {
    top: 64%;
    left: -1%; }
@keyframes spin {
  100% {
    transform: rotate(360deg); } }
@keyframes rotate {
  100% {
    transform: rotate(360deg); } }
#about .section-content-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
#about .introduction {
  position: relative;
  border: 1px solid #c2a0e4;
  margin: 3.5rem;
  padding: 0 3.5rem 4.5rem 3.5rem;
  text-align: center;
  z-index: -1; }
  @media screen and (min-width: 768px) {
    #about .introduction {
      margin: 7rem; } }
  @media screen and (min-width: 1028px) {
    #about .introduction {
      width: 90%;
      margin: 1rem 3rem 3rem 3rem;
      padding: 0 3.5rem 3.5rem 3.5rem; } }
#about .section-header {
  position: relative;
  display: inline-block;
  bottom: 3rem;
  right: 13rem;
  padding: 0 1rem;
  background-color: #fff; }
  @media screen and (min-width: 768px) {
    #about .section-header {
      font-size: 8rem;
      bottom: 3.5rem;
      padding: 0 1.5rem; } }
#about .section-subheading {
  font-size: 3rem;
  letter-spacing: .25rem;
  color: #69369c;
  margin-bottom: 2rem; }
  @media screen and (min-width: 1028px) {
    #about .section-subheading {
      position: relative;
      bottom: 2rem;
      margin: 0; } }
#about .skills {
  position: relative;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.05);
  margin: 5rem 3.5rem;
  padding: 0 3.5rem 5rem 3.5rem;
  z-index: -1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  @media screen and (min-width: 768px) {
    #about .skills {
      margin: 5rem 7rem;
      padding: 0 7rem 7rem 7rem; } }
  @media screen and (min-width: 1028px) {
    #about .skills {
      margin: 2rem;
      padding: 0 2rem 2rem 2rem; } }
  #about .skills-container {
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    @media screen and (min-width: 1028px) {
      #about .skills-container {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center; } }
  @media screen and (min-width: 1028px) {
    #about .skills:last-child {
      margin-bottom: 2.5rem; } }
  #about .skills-img-container {
    height: 9rem;
    width: 9rem;
    position: relative;
    top: -1.8rem;
    background-color: #fff;
    border-radius: 50%;
    box-shadow: 0 0.2rem 2rem 0 rgba(0, 0, 0, 0.25);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    @media screen and (min-width: 1028px) {
      #about .skills-img-container {
        height: 5rem;
        width: 5rem; } }
  #about .skills-img {
    fill: #1b4332;
    height: 5rem;
    width: 5rem; }
    @media screen and (min-width: 1028px) {
      #about .skills-img {
        height: 3rem;
        width: 3rem; } }
  #about .skills-heading {
    position: relative;
    color: #69369c;
    margin-bottom: 3rem; }
    @media screen and (min-width: 1028px) {
      #about .skills-heading {
        font-size: 1.6rem;
        margin-bottom: 0;
        bottom: .8rem; } }
  #about .skills p {
    line-height: 2.6rem; }
    @media screen and (min-width: 1028px) {
      #about .skills p {
        line-height: 3rem; } }
    @media screen and (min-width: 1028px) {
      #about .skills p {
        line-height: 1.8rem;
        font-size: 1.2rem; } }

#projects .section-content-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  @media screen and (min-width: 1028px) {
    #projects .section-content-container {
      margin: 5rem;
      border: 1px solid #1b4332;
      flex: 1 0 50%;
      flex-direction: row;
      justify-content: flex-start;
      align-items: flex-start; } }
  #projects .section-content-container .project-heading {
    text-align: center; }
    @media screen and (min-width: 768px) {
      #projects .section-content-container .project-heading {
        margin-top: 5rem; } }
    @media screen and (min-width: 1028px) {
      #projects .section-content-container .project-heading {
        margin-top: 0;
        text-align: left;
        padding-left: 2rem;
        flex: 1 0 50%; } }
#projects .section-header {
  margin-top: 3rem; }
  @media screen and (min-width: 768px) {
    #projects .section-header {
      margin-top: 5rem; } }
  @media screen and (min-width: 768px) {
    #projects .section-header {
      margin-top: 0rem; } }
#projects .project-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 50%; }
#projects .project-card {
  width: 40rem;
  margin: 5rem;
  box-shadow: 0 0.2rem 2rem 0 rgba(0, 0, 0, 0.25);
  transition: all .8s;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
#projects .project-img {
  width: 100%; }
#projects .project-description {
  width: 100%;
  text-align: center;
  padding: 4rem;
  transition: all .8s;
  box-shadow: 0 0.2rem 2rem 0 rgba(0, 0, 0, 0.25); }
  #projects .project-description h3 {
    margin-bottom: 1.6rem; }
  #projects .project-description p {
    margin-bottom: 1.2rem; }
  #projects .project-description a {
    color: #fd8972;
    text-decoration: none; }
    #projects .project-description a:hover {
      color: #1b4332; }
@media screen and (min-width: 768px) {
  #projects .project-card {
    width: 48rem; }
  #projects .project-description {
    font-size: 2rem;
    padding: 5rem; } }
@media screen and (min-width: 1028px) {
  #projects .project-card:hover {
    transform: scale(110%) translate(-33%, -50%);
    z-index: 10; }
  #projects .project-card:hover .project-description {
    transform: scale(1) translateY(100%); }
  #projects .project-heading {
    height: 100%; }
  #projects .project-container {
    position: relative; }
  #projects .project-card {
    position: absolute;
    width: 30rem;
    margin: 0rem; }
    #projects .project-card-1 {
      top: 5%;
      left: 5%; }
    #projects .project-card-2 {
      top: 29%;
      left: 38%; }
    #projects .project-card-3 {
      top: 47%;
      left: -55%; }
    #projects .project-card-4 {
      top: 58%;
      left: -11%; }
  #projects .project-description {
    position: absolute;
    background-color: #f2f5f6;
    font-size: 1.4rem;
    padding: 3rem;
    z-index: -1; } }

#contact .section-content-container {
  margin: 20rem 0;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  @media screen and (min-width: 1028px) {
    #contact .section-content-container {
      margin: 0; } }
  #contact .section-content-container a {
    text-decoration: none;
    color: #69369c;
    font-weight: 700;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    #contact .section-content-container a:hover {
      color: #fd8972; }
#contact .social-icons-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center; }
#contact .social-icons-bg {
  margin: 2rem;
  height: 8rem;
  width: 8rem;
  background-color: #fd8972;
  border-radius: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center; }
  #contact .social-icons-bg:hover {
    background-color: #ff7458; }
#contact .social-icons-img {
  height: 4rem;
  width: 4rem;
  fill: white; }

/*# sourceMappingURL=style.css.map */
