/* Documentation says to use "@use" but it is not working */
/* ========== VARIABLES ========== */
/* Fonts */
/* Greens */
/* Dark Green with Accents */
/* ========== MIXINS ========== */
/* Simple Reset */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

/* Set Rem & Font Sizes */
html {
  font-size: 50%; }
  @media screen and (min-width: 768px) {
    html {
      font-size: 56.25%; } }
  @media screen and (min-width: 1028px) {
    html {
      font-size: 62.5%; } }

body {
  font-size: 1.6rem;
  font-family: "Nunito", sans-serif;
  color: #3b3a3a;
  position: relative; }

body {
  display: grid;
  grid-template-rows: repeat(4, 4fr);
  grid-template-columns: repeat(1, 1fr); }

section {
  display: flex;
  justify-content: center;
  align-items: center; }

.section-container {
  min-height: 80vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
.section-header {
  font-family: "Cormorant Garamond", serif;
  font-weight: 300;
  font-size: 6rem;
  color: #1b4332; }

@media screen and (min-width: 768px) {
  .section-container {
    box-shadow: 0 0.3rem 4rem 0 rgba(0, 0, 0, 0.35);
    width: 90%;
    margin: 5rem 5rem 0 5rem; }

  #contact .section-container {
    margin-bottom: 5rem; } }
@media screen and (min-width: 1028px) {
  body {
    /* TODO: keep on tablet or move to tablet? */
    height: 200vh;
    width: 200vw;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(2, 1fr);
    overflow: hidden; }

  .section-container {
    height: 80%;
    width: 80%; }

  #home {
    grid-row: 1 / 2;
    grid-column: 1 / 2; }

  #about {
    grid-row: 1 / 2;
    grid-column: 2 / 3; }

  #projects {
    grid-row: 2 / 3;
    grid-column: 2 / 3; }

  #contact {
    grid-row: 2 / 3;
    grid-column: 1 / 2; }

  .section-container {
    box-shadow: 0 0.5rem 5rem 0 rgba(0, 0, 0, 0.35); }
  .section-header {
    font-size: 6.4rem; } }
nav ul {
  display: flex; }
nav li {
  list-style: none; }
  nav li a {
    text-decoration: none; }

.mobile-nav {
  position: fixed; }
  @media screen and (min-width: 1028px) {
    .mobile-nav {
      display: none; } }
  .mobile-nav-btn {
    position: fixed;
    height: 6.5rem;
    width: 6.5rem;
    top: 3rem;
    right: 3rem;
    border-radius: 50%;
    background-color: #fff;
    box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.1);
    z-index: 200;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    @media screen and (min-width: 768px) {
      .mobile-nav-btn {
        top: 4rem;
        right: 4rem; } }
    .mobile-nav-btn-icon {
      position: absolute;
      width: 3.8rem;
      height: .5rem;
      background-color: #3b3a3a;
      border-radius: .3rem;
      transition: all 0.4s; }
      .mobile-nav-btn-icon:first-child {
        top: 2rem; }
      .mobile-nav-btn-icon:last-child {
        top: 4.0rem; }
  .mobile-nav-background {
    position: fixed;
    height: 5rem;
    width: 5rem;
    top: 4rem;
    right: 4rem;
    border-radius: 50%;
    background: radial-gradient(#e6d4ec, #ab65f1);
    z-index: 100;
    transition: transform 0.8s cubic-bezier(0.68, -0.6, 0.32, 1.6); }
    @media screen and (min-width: 768px) {
      .mobile-nav-background {
        top: 4.7rem;
        right: 4.7rem; } }
    .mobile-nav-background.open {
      transform: scale(50); }
  .mobile-nav-list {
    color: #ffffff;
    font-size: 2.8rem;
    width: 100%;
    height: 0;
    opacity: 0;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 150;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: all 0.4s cubic-bezier(0.68, -0.6, 0.32, 1.6) 0.2s; }
    .mobile-nav-list.open {
      height: 100%;
      opacity: 1; }
  .mobile-nav-item {
    margin: 1.8rem;
    color: #eee; }
    @media screen and (min-width: 768px) {
      .mobile-nav-item {
        margin: 2rem; } }
  .mobile-nav-link {
    color: #1b4332; }

.desktop-nav {
  display: none;
  justify-content: flex-end; }
  @media screen and (min-width: 1028px) {
    .desktop-nav {
      display: flex; } }
  .desktop-nav .nav-link:link, .desktop-nav .nav-link:visited {
    color: #1b4332; }
  .desktop-nav .nav-link:hover, .desktop-nav .nav-link:active {
    text-decoration: underline; }

#home .section-header {
  font-size: 6rem; }

#about .introduction {
  position: relative;
  border: 1px solid #c2a0e4;
  margin: 3.5rem;
  padding: 3.5rem;
  padding-top: 1.5rem; }
#about .introduction {
  text-align: center; }
#about .section-header {
  position: relative;
  left: -5rem;
  text-align: left;
  background-color: #fff; }
#about .section-subheading {
  font-size: 2rem;
  color: #69369c; }
#about .skills {
  position: relative;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.05);
  margin: 3.5rem;
  padding: 3.5rem;
  padding-top: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  #about .skills-img-container {
    height: 9rem;
    width: 9rem;
    position: relative;
    top: -3rem;
    background-color: #fff;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
  #about .skills-img {
    fill: var(#1b4332);
    height: 5rem;
    width: 5rem; }
  #about .skills-heading {
    color: #69369c; }

/*# sourceMappingURL=style.css.map */
