/* ========== VARIABLES ========== */ 

/* Fonts */ 
$heading-font: 'Cormorant Garamond', serif;
$content-font: 'Nunito', sans-serif;

/* Dark Green with Accent Colors */
$light-green: rgba(116, 198, 157, 1); // not using??
$medium-green: rgba(45, 106, 79, 1);
$dark-green: rgba(27, 67, 50, 1);
$light-purple: rgba(230, 212, 236, 1);
$medium-purple: rgba(194, 160, 228, 1);
$dark-purple: rgb(105, 54, 156);
$blue: rgb(157, 234, 246);
$red: rgba(253, 137, 114, 1);

// Grays
$gray: rgb(105, 105, 105);
$dark-gray: rgb(59, 58, 58);

// Social media link colors
$github-color: #383838;
$linkedin-color: #0077B4;
$codepen-color: #000;

// Media Query Break Points
$tablet-bp: 768px;
$desktop-bp: 1028px;

/* offset-x | offset-y | blur-radius | spread-radius | color */
$small-shadow: 0 .2rem 2rem 0 rgba(0, 0, 0, 0.25);

/* ========== MIXINS ========== */ 
@mixin flexCentered($direction: column) {
  display: flex;
  flex-direction: $direction;
  justify-content: center;
  align-items: center;
}

/* ========== SIMPLE RESET ========== */ 
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* ========== BASE REM & FONTS SIZES ========== */ 
html {
  font-size: 50%; // seting 1rem = 8px (8px / 16px)

  @media screen and (min-width: $tablet-bp) {
    font-size: 56.25%; // setting 1rem = 9px (9px / 16px)
  }

  @media screen and (min-width: $desktop-bp) {
    font-size: 62.5%; // setting 1rem = 10px
  }
}

body {
  font-size: 1.6rem;
  font-family: $content-font;
  color: $dark-gray;
}
