/* FONTS */ 
// TODO: Delete what you don't use
// font-family: 'Mukta', sans-serif;
// font-family: 'Nunito', sans-serif;
// font-family: 'Open Sans', sans-serif;
// font-family: 'Playfair Display', serif;

$heading-font: 'Nunito', sans-serif;
$content-font: 'Mukta', sans-serif;

/* SCSS HEX */
// $nyanza: #d8f3dcff;
// $turquoise-green: #b7e4c7ff;
// $turquoise-green-2: #95d5b2ff;
// $ocean-green: #74c69dff;
// $ocean-green-2: #52b788ff;
// $illuminating-emerald: #40916cff;
// $bottle-green: #2d6a4fff;
// $brunswick-green: #1b4332ff;
// $dark-jungle-green: #081c15ff;

/* SCSS RGB */
$nyanza: rgba(216, 243, 220, 1);
$turquoise-green: rgba(183, 228, 199, 1);
$turquoise-green-2: rgba(149, 213, 178, 1);
$ocean-green: rgba(116, 198, 157, 1);
$ocean-green-2: rgba(82, 183, 136, 1);
$illuminating-emerald: rgba(64, 145, 108, 1);
$bottle-green: rgba(45, 106, 79, 1);
$brunswick-green: rgba(27, 67, 50, 1);
$dark-jungle-green: rgba(8, 28, 21, 1);

$gray: rgb(105, 105, 105);

// Media Query Break Points
$tblt-bp: 768px;
$dsktp-bp: 1028px;

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 50%; // seting 1rem = 8px (8px / 16px)

  @media screen and (min-width: $tblt-bp) {
    font-size: 56.25%; // setting 1rem = 9px (9px / 16px)
  }

  @media screen and (min-width: $dsktp-bp) {
    font-size: 62.5%; // setting 1rem = 10px
  }
}

body {
  font-size: 1.6rem;
  font-family: $content-font;
  color: $dark-jungle-green;
}



