// BASIC NAV STYLING /////////////////////////
nav {
  ul {
    display: flex;
  }
  
  li {
    list-style: none;
   
    a {
      text-decoration: none;
    }
  }
}

// MOBILE NAV ///////////////////////////////
.mobile-nav {
  position: fixed;

  @media screen and (min-width: $desktop-bp) {
    display: none;
  } 

  // MOBILE NAV BUTTON
  &-btn {
    position: fixed;
    height: 6.5rem;
    width: 6.5rem;
    top: 3rem;
    right: 3rem;
    border-radius: 50%;
    background-color: #fff; // TODO: CHANGE COLOR
    box-shadow: 0 1rem 3rem rgba($color: #000000, $alpha: .1);
    z-index: 200;
    // Inner
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    @media screen and (min-width: $tablet-bp) {
      // height: 7rem;
      // width: 7rem;
      top: 4rem;
      right: 4rem;
    }

    &-icon {
      position: absolute;
      width: 3.8rem;
      height: .5rem;
      background-color: $dark-gray; // TODO: CHANGE COLOR
      border-radius: .3rem;
      transition: all 0.4s;

      &:first-child {
        top: 2rem;
      }

      &:last-child {
        top: 4.0rem;
      }
      
      &:first-child.open {
        top: 3rem;
        transform: rotate(135deg);
      }

      &:nth-child(2).open {
        background-color: transparent;
      }

      &:last-child.open {
        top: 3rem;
        transform: rotate(-135deg);
      }
    }
  }

  &-background {
    position: fixed;
    height: 5rem;
    width: 5rem;
    top: 4rem;
    right: 4rem;
    border-radius: 50%;
    background: radial-gradient($red, rgb(171, 101, 241));
    z-index: 100;
    
    // transition: <property> <duration> <timing-function> <delay>;
    transition: transform 0.8s cubic-bezier(0.68, -0.6, 0.32, 1.6);
    

    @media screen and (min-width: $tablet-bp) {
      top: 4.7rem;
      right: 4.7rem;
    }

    &.open {
      transform: scale(60);
    }
  }

  &-list {
    font-size: 2.8rem;
    width: 100%;
    // height: 100vh;
    height: 0;
    opacity: 0;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 150;
    
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: all .4s cubic-bezier(0.68, -0.6, 0.32, 1.6) .2s;
    
    &.open {
      height: 100%;
      opacity: 1;
      
    }
  }

  &-item {
    margin: 1.8rem;
    // padding: ; // Don't forget to change to inline-block if you need padding.
    color: #eee; // TODO: CHANGE COLOR
    
    @media screen and (min-width: $tablet-bp) {
      margin: 2rem;
    }

  }
  &-link {
    color: #ffffff;

  }
}

// DESKTOP NAV ////////////////////////////////
.desktop-nav {
  display: none;
  // position: relative; // should actually position arrows relative to window.
  padding: 0 5rem;
  
  @media screen and (min-width: $desktop-bp) {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
  }
 
  // .nav {
  //   &-link {
  //     &:link,
  //     &:visited { 
  //       color: $dark-green;
  //       margin: 0 1rem;
  //     }
  //     &:hover,
  //     &:active {
  //       text-decoration: underline;
  //     }
  //   }
  // }
 
  .nav {
    &-item {
      position: relative; // FOR HOVER ANIMATION
    }

    &-link {
      &:link,
      &:visited { 
        color: $dark-green;
        margin: 0 1rem;
      }
      


      &::before { 
        content: '';
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        height: 2px;
        background-color: $dark-green;

        transition: transform 200ms ease-in-out;
        transform: scaleX(0);
      }
      &:hover::before,
      &:active::before {
        transform: scaleX(1);
      }
    }
  }



}

.nav-arrow {
  display: none;
  position: absolute;
  height: 5rem;
  width: 5rem;

  @media screen and (min-width: $desktop-bp) {
    display: flex;
  }

  &-right {
    position: absolute;
    top: 50%;
    right: 2rem;
  }

  &-left {
    position: absolute;
    top: 50%;
    left: 2rem;
  }

  &-down {
    bottom: 2rem;
    left: 50%;
  }
  
  &-up {
    top: 2rem;
    left: 50%;
  }
}
