#contact {
  .section {
    &-content-container {
      margin: 20rem 0;
      height: 100%;
      @include flexCentered;

      @media screen and (min-width: $desktop-bp) {
        margin: 0;
      } 

      a {
        text-decoration: none;
        color: $dark-purple;
        font-weight: 700;
        @include flexCentered;

        &:hover {
          color: $medium-purple;
        }
      }
    }
  }


  .social-icons {
    
    &-container {
      @include flexCentered(row);
    }
    
    &-bg {
      position: relative;
      margin: 2rem;
      height: 8rem;
      width: 8rem;
      background-color: $red;
      border-radius: 100%;
      overflow: hidden;
      box-shadow: $small-shadow;
      border: .4rem solid #fff;
      @include flexCentered(row);

      &::after {
        content: "";
        position: absolute;
        background-color: #000;
        height: 100%;
        width: 100%;
        top: 100%;
        transition: 400ms;
      }

      &:nth-of-type(1)::after {
        background-color: $github-color;
      }

      &:nth-of-type(2)::after {
        background-color: $linkedin-color;
      }

      &:nth-of-type(3)::after {
        background-color: $codepen-color;
      }

      &:hover::after {
        top: 0;
      }

      // &:hover {
      //   background-color: rgb(255, 116, 88);
      // }

      &:hover .social-icons-img {
        transform: rotateY(360deg);
      }
    }

    &-link {
      height: 100%;
      width: 100%;
    }

    &-img {
      height: 4rem;
      width: 4rem;
      fill: white;
      z-index: 2;
      transition: 400ms;
    }
  }

  &.active .social-icons-bg {
    animation: rollIn 1300ms ease-out 150ms 1 forwards;

    &:nth-last-of-type(1) {
      animation-delay: 100ms;
    }
    
    &:nth-last-of-type(2) {
      animation-delay: 300ms;
    }
  }

  @keyframes rollIn {
    0% {
      opacity: 0;
      transform: translateX(-55rem) rotate(-360deg);
    }
    100% {
      opacity: 1;
      transform: translateX(0) rotate(0);
    }
  }
}
