#contact {
  .section {
    &-content-container {
      margin: 20rem 0;
      height: 100%;
      @include flexCentered;

      @media screen and (min-width: $desktop-bp) {
        margin: 0;
      } 

      a {
        text-decoration: none;
        color: $dark-purple;
        font-weight: 700;
        @include flexCentered;

        &:hover {
          color: $medium-purple;
        }
      }
    }
  }


  .social-icons {
    
    &-container {
      @include flexCentered(row);
    }
    
    &-bg {
      margin: 2rem;
      height: 8rem;
      width: 8rem;
      background-color: $red;
      border-radius: 100%;
      @include flexCentered(row);

      &:hover {
        background-color: rgb(255, 116, 88);
      }
    }

    &-link {
      height: 100%;
      width: 100%;
    }

    &-img {
      height: 4rem;
      width: 4rem;
      fill: white;
    }
  }
}
