#home {
  height: 100vh;
  .section {

    &-content-container {
      position: relative;
      overflow: hidden;
      height: 90%; 
      border: 1px solid $dark-green;
      margin: 4rem;
      z-index: -1;
      @include flexCentered;

      @media screen and (min-width: $tablet-bp) {
        
      }
      
      @media screen and (min-width: $desktop-bp) {
        margin: 5rem;
        margin-top: 1rem;
      }
    }
    &-header {
      font-size: 6rem;
      opacity: 0;
      animation: fadein 3000ms ease-in 300ms 1 forwards;
    }
    
    &-subheader {
      // font-size: 6rem;
      opacity: 0;
      animation: slideDown 500ms ease-out 2000ms 1 forwards;
    }
  }

  @keyframes fadein {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  @keyframes slideDown {
    0% {
      transform: translateY(-2rem);
      opacity: 0;
    }
    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }

  .home-bg-item {
    position: absolute;
    top: -3rem;
    height: 2rem;
    width: 2rem;
    z-index: -1;

    // animation: rotate 6s linear infinite;    
    animation: fall 9s linear infinite;    
  }

  .circle {
    transform-origin: 40% 40%;
  }

  .purple {
    fill: $light-purple;
  }

  .red {
    fill: $red;
  }

  .blue {
    fill: $blue;
  }

  // @for $i from 1 through 12 {
  //   #home-bg-item-#{$i} {
  //     // transform: rotate($i * 7.5deg);
  //     animation-delay: $i * 500ms;
  //   }
  // }

  #home-bg-item-1 {
    left: 54%;
    animation-delay: 1600ms;
  }

  #home-bg-item-2 {
    left: 14%;
    animation-delay: 6240ms;
  }

  #home-bg-item-3 {
    left: 83%;
    animation-delay: 4500ms;
  }

  #home-bg-item-4 {
    left: 22%;
    animation-delay: 7120ms;    
  }

  #home-bg-item-5 {
    left: 98%;
    animation-delay: 3040ms;    
  }

  #home-bg-item-6 {
    left: 39%;
    animation-delay: 6320ms;    
  }

  #home-bg-item-7 {
    left: 17%;
    animation-delay: 3680ms;    
  }

  #home-bg-item-8 {
    left: 53%;
    animation-delay: 4880ms;    
  }

  #home-bg-item-9 {
    left: 93%;
    animation-delay: 7040ms;    
  }

  #home-bg-item-10 {
    left: 74%;
    animation-delay: 6320ms;    
  }

  #home-bg-item-11 {
    left: 77%;
    animation-delay: 0ms;    
  }

  #home-bg-item-12 {
    left: 6%;
    animation-delay: 480ms;    
  }

  #home-bg-item-13 {
    left: 60%;
    animation-delay: 8120ms;    
  }

  #home-bg-item-14 {
    left: 43%;
    animation-delay: 400ms;    
  }

  #home-bg-item-15 {
    left: 45%;
    animation-delay: 2240ms;    
  }

  #home-bg-item-16 {
    left: 38%;
    animation-delay: 3200ms;    
  }

  #home-bg-item-17 {
    left: 2%;
    animation-delay: 1360ms;    
  }

  #home-bg-item-18 {
    left: -1%;
    animation-delay: 5120ms;    
  }

  @keyframes fall {
    0% {
      opacity: 0;
      transform: translate(-5rem, 0rem);
    }
    5% {
      opacity: 1;
    }
    95% {
      opacity: 1;
    }
    100% {
      transform: translate(15rem, 110rem) rotate(360deg);
      opacity: 0;
    }
  }

  // @keyframes rotate {
  //   100% {
  //     transform: rotate(360deg);
  //   }
  // }
}
