// MOBILE ///////////////////////////////////////////////
body {
  position: relative;
  @include flexCentered;
}

section {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.section {
  &-container {
    // min-height: 80vh; // TODO: DELETE ONCE YOU HAVE ADDED CONTENT TO SECTIONS
    // height: 90%; // TODO: DELETE ONCE YOU HAVE ADDED CONTENT TO SECTIONS
    height: 100%;
    width: 100%;
  }

  &-header {
    font-family: $heading-font;
    font-weight: 300;
    font-size: 6rem;
    color: $dark-green;
  }
}

// TABLET ///////////////////////////////////////////////
@media screen and (min-width: $tablet-bp) {
  .section {
    &-container {
      box-shadow: 0 .3rem 4rem 0 rgba(0, 0, 0, 0.35);
      width: 90%;
      margin: 5rem 5rem 0 5rem;
    }
  }

  // section:last-child .section-container { // Selector not working...
  #contact .section-container {
    margin-bottom: 5rem;
  }
}

// DESKTOP ///////////////////////////////////////////////
@media screen and (min-width: $desktop-bp) {
  body {
    height: 200vh;
    width: 200vw;
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(2, 1fr);
    // overflow: hidden; // TODO: DON'T FORGET TO ADD THIS BACK
  }

  section {
    height: 100%;
    max-height: 100vh; // FIXME: WHY ISNT THIS KEEPING IT FROM GROWING???????
  }

  .section {
    &-container {
      height: 85%;
      width: 80%;
      max-height: 85%;
      max-width: 80%;
      box-shadow: 0 .5rem 5rem 0 rgba(0, 0, 0, 0.35);

      display: grid;
      grid-template-rows: 1fr 7fr;
    }

    &-header {
      font-size: 6.4rem;
    }
  }

  #home {
    grid-row: 1 / 2;
    grid-column: 1 / 2;
  }

  #about {
    grid-row: 1 / 2;
    grid-column: 2 / 3;
  }

  #projects {
    grid-row: 2 / 3;
    grid-column: 2 / 3;
  }

  #contact {
    grid-row: 2 / 3;
    grid-column: 1 / 2;
  }

}
